/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #111;
    color: #fff;
    overflow-x: hidden;
    height: 450vh;
}

/* CANVAS BACKGROUND */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

    opacity: 0.60;
    filter: brightness(1.5) contrast(1.15);
}

/* CONTAINER */
.container {
    max-width: 1000px;
    margin: auto;
    padding: 100px 20px;
}

/* HERO */
.hero {
    text-align: center;
    margin-bottom: 120px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    opacity: 0.85;
    margin-bottom: 20px;
}

.contact-top span {
    display: block;
    opacity: 0.8;
    margin: 5px 0;
}

/* CARD STYLE */
.card {
    margin-bottom: 80px;
    padding: 35px;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255,255,255,0.1);
}

.card h2 {
    margin-bottom: 20px;
    font-size: 24px;
    border-bottom: 2px solid rgba(255,255,255,0.4);
    padding-bottom: 8px;
}

.sub-heading {
    margin-top: 30px;
}

/* SKILLS */
.skills span {
    display: inline-block;
    margin: 8px 10px 8px 0;
    padding: 8px 16px;
    border-radius: 20px;
    background: rgba(255,255,255,0.15);
    font-size: 14px;
}

/* PROJECT */
.project {
    margin-bottom: 20px;
}

/* TIMELINE ITEMS */
.timeline-item {
    margin-bottom: 25px;
}

/* CERTIFICATIONS */
.cert-list {
    padding-left: 20px;
}

.cert-list li {
    margin-bottom: 10px;
}

/* RESPONSIVE */
@media(max-width: 768px) {
    .hero h1 {
        font-size: 32px;
    }
}
/* Improve text visibility over bright rocket flame */
h1, h2, h3, p, li, span {
    text-shadow: 0 2px 6px rgba(0,0,0,0.8);
}
